.basemap,
.edos,
.bubbles {
	position: absolute;
	left: 50%;
	top: 0%;
	transform: translate(10%, 0%);
}

.edos {
	z-index: -5;
}

.basemap {
	z-index: 1;
}

.text {
	font-size: 10;
	fill: '#fdfdfd';
	text-anchor: middle;
}
